{% load static %}

<nav id="navbar-top" class="navbar navbar-light navbar-fixed-top bg-faded row"> <!-- nav -->
  <div class="col-xs-12 col-sm-7">
    <a class="navbar-brand" href="{% url 'home' %}" title="Tuticfruti blog">Tuticfruti</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a href="{% url "posts:list_category" 'python' %}" class="nav-link {% if current_category_id == 'python' %} active{% endif %}">Python</a>
      </li>
      <li class="nav-item">
        <a href="{% url "posts:list_category" 'django' %}" class="nav-link {% if current_category_id == 'django' %} active{% endif %}">Django</a>
      </li>
      <li class="nav-item">
        <a href="{% url "posts:list_category" 'miscellaneous' %}" class="nav-link {% if current_category_id == 'miscellaneous' %} active{% endif %}">Miscellaneous</a>
      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-5">
    <form id="search_form" action="{% if current_category_id %}{% url 'posts:search_category' current_category_id %}{% else %}{% url 'posts:search' %}{% endif %}" method="get" class="form-inline navbar-form pull-right">
      <div class="input-group">
        <input name="search_terms" type="text" class="form-control" placeholder="Search ..." value="{% if search_terms %}{{ search_terms }}{% endif %}" aria-label="">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="submit">Go!</button>
        </span>
      </div>
    </form>
  </div>
</nav> <!-- /nav -->
