{% load static %}

<nav id="navbar-top" class="navbar navbar-light navbar-fixed-top bg-faded">

  <div class="row">

    <div class="col-xs-12 hidden-md-up">
      <div class="collapse" id="exCollapsingNavbar">
        <div class="bg-faded p-a">
          <p>{% include '_categories.html' with id='categories_responsive_id' %}</p>
          <p>{% include '_search_form.html' with id='search_form_responsive_id' %}</p>
          <br><br>
        </div> <!-- /list-group -->
      </div>
    </div>

    <div class="col-sm-11 col-md-8">
      <a class="navbar-brand" href="{% url 'home' %}" title="Tuticfruti blog">Tuticfruti blog</a>
      {% include '_categories.html' with id='categories_id' %}
    </div>

    <div class="col-md-4 hidden-sm-down">
      {% include '_search_form.html' with id='search_form_id' %}
    </div>

    <div class="col-sm-1 pull-right hidden-md-up">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
        &#9776;
      </button>
    </div>

  </div>
</nav>
