{% load i18n %}

{% if is_paginated %}
  <div class="row">
    <div class="col-sm-12">
      <div id="pagination_id" class="row">
        <div class="col-xs-10 col-xs-push-1">
          <nav id="pagination">
            <ul class="pager">

              <!-- Newer posts link -->
              {% if page_obj.has_previous %}
                <li class="pager-prev">
                    <a href="?page={{ page_obj.previous_page_number }}">&larr; {% trans 'Newer posts' %}</a>
                </li>
              {% endif %}

              <!-- Older posts link -->
              {% if page_obj.has_next %}
                <li class="pager-next">
                    <a href="?page={{ page_obj.next_page_number }}">{% trans 'Older posts' %} &rarr;</a>
                </li>
              {% endif %}

            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
{% endif %}
