<div class="row">
  <div class="col-md-7">
      <h4 class="text-muted">New comment:</h4>
      <form id="comment_form_id" method="post">{% csrf_token %}
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group{% if form.author.errors %} has-error{% endif %}">
              {{ form.author.label_tag }}
              {{ form.author.as_widget }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group{% if form.email.errors %} has-error{% endif %}">
              {{ form.email.label_tag }}
              {{ form.email.as_widget }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group{% if form.content.errors %} has-error{% endif %}">
              {{ form.content.label_tag }}
              {{ form.content.as_widget }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">Send</button>
            </div>
          </div>
        </div>
      </form>
  </div>
</div>
