<div class="row">
  <div class="col-md-7">
      <h4 class="text-muted">New comment:</h4>
      <form id="comment_form" method="post">{% csrf_token %}
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="author">Name</label>
              <input type="text" class="form-control" name="author" placeholder="Your name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" placeholder="Your email">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="content">Comment</label>
              <textarea class="form-control" name="content" placeholder="Your comment" rows="2"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">Send</button>
            </div>
          </div>
        </div>
      </form>
  </div>
</div>
