<div id="post{{ post.pk }}_id" class="row post">
  <div class="col-sm-12">

    <!-- Post title -->
    <h2 class="post_title text-primary">{{ post.title }}</h2>

    <div class="text-muted">

      <div class="small">

        <!-- Post author -->
        <em>Created by</em>
        <strong class="post_author">{{ post.author.username }}</strong>

        <!-- Post created -->
        <em>,</em>&nbsp;
        <strong class="post_created">{{ post.created|date:'F j, Y' }}</strong>.&nbsp;

      </div>

      <div>

        <!-- Post tags -->
        <span class="post_tags">
          {% for tag in post.tags.all %}
            <em class="label label-info">{{ tag.term }}</em>
          {% endfor %}
        </span>

      </div>

    </div>

    <!-- Post content -->
    {% if post_text_content_limit %}
      <p class="post_content">{{ post.content|truncatechars:post_text_content_limit }}</p>
    {% else %}
      <p class="post_content">{{ post.content }}</p>
    {% endif %}

    <div class="row">

      <!-- Read more link -->
      <div class="col-sm-2">
        {% if posts %}
          <p>
            <a class="read_more" href="{% url 'posts:detail' post.slug %}">Read more ...</a>
          </p>
        {% endif %}
      </div>

      <!-- Comments number -->
      <div class="col-sm-2 col-sm-push-8">
        <span>
          <a class="post_num_comments label label-default label-pill" href="{% url 'posts:detail' post.slug %}#comments_id" title="Goto comments">
            {% if posts %}{{ post.num_comments }}{% else %}{{ comments|length }}{% endif %}</a>
        </span>
        <em class="small">comments</em>
      </div>

    </div>
  </div>
</div>
